<!DOCTYPE html>
<html lang="en">

<head>
    <!--<meta charset="UTF-8">
    -->
    <title>TabInfoData</title>
    <link href='style.css' rel='stylesheet' type='text/css'>



</head>
<body>
<!--<script src="backplate.js"></script>
<div id="block"></div>
-->

<div class='topnav'>
    <!-- <img src="jetbrains://idea/navigate/reference?project=skunkworks&path=cn/media/texture_
     missing_texture.gif" alt="Image Not Found">  -->
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#tutoring">Tutoring</a>
    <a href="#contact">Contact</a>
    <a href="#projects">Projects</a>
</div>

<div id="Introduction">
    <p id="About me">
        My name is Drew, and I am a software research assistant. My job is to contribute quality implementations to local software projects for both research, commercial products, and academic initiatives.
        Software development is my biggest vocational passion and I am very excited for this opportunity. Growing up in Brooklyn, I was first exposed to coding in high school. It was an incredibly empowering experience. These firsthand encounters promptly led me through an inspiring journey of discovery that opened the door to new hobbies and marketable skills.
        To supplement my academic training, I promptly entered into both research and assisted teaching positions while in school, both of which have provided me with career applicable skills. I am primed and prepared to apply and further cultivate these skills and experiences within the workplace.
    </p>


</div>
</body>

</html>