<!DOCTYPE html>
<html lang="en">

<head>
    <!--<meta charset="UTF-8">
    -->
    <title>TabInfoData</title>
    <link href='style2.css' rel='stylesheet' type='text/css'>

</head>
<body>
<!--<script src="backplate.js"></script>
<div id="block"></div>
-->
<div class='topnav'>
    <div></div>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#tutoring">Tutoring</a>
    <a href="#contact">Contact</a>
    <a href="#projects">Projects</a>
</div>

<div id="Intro1">
    <h1 >Drew Smith</h1>
    <h1> I create software solutions</h1>
</div>
<div id="Intro2">
        <p>
        I am a Software Engineer, Specializing in commercial products, and academic initiatives. Currently I am
        working with
    </p>

    <a href="https://www.codetenderloin.org/" target="_blank" rel="noreferrer">Code Tenderloin</a>




    <p>
        My name is Drew, and I am a software research assistant. My job is to contribute quality implementations to local software projects for both research, commercial products, and academic initiatives.
        Software development is my biggest vocational passion and I am very excited for this opportunity. Growing up in Brooklyn, I was first exposed to coding in high school. It was an incredibly empowering experience. These firsthand encounters promptly led me through an inspiring journey of discovery that opened the door to new hobbies and marketable skills.
        To supplement my academic training, I promptly entered into both research and assisted teaching positions while in school, both of which have provided me with career applicable skills. I am primed and prepared to apply and further cultivate these skills and experiences within the workplace.
    </p>

</div>
<!--
<div class="Slides">


    <p class="text">
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>

    <p class="text">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
    </p>


</div>
-->


</body>

</html>

